body {
    background-color: rgb(20, 45, 60);
    color: whitesmoke;
    font-family:sans-serif, arial;
}

h1 {
    font-size: 50px;
    margin-top: 50px;
    margin-left: 50px;
}

/* Navigation bar */
.navbar {
    position: sticky;
    top: 8px;
    z-index: 2;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    padding-bottom: 0;
    border-radius: 10px;
    background-color: rgb(121, 185, 211);
    overflow: hidden;
    font-size: 20px;
    box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.4)
}

.navbar li {
    display: inline-block;
}

.navbar a {
    float: left
}

.navbar li a {
    display: inline-block;
    color: whitesmoke;
    border-radius: 10px;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: whitesmoke;
    color: rgb(121, 185, 211);
}

.navbar #active {
    background-color: whitesmoke;
    color: rgb(121, 185, 211);
    border-radius: 10px;
}

#hz-logo {
    position: sticky;
    top: 17px;
    width: 2%;
    height: 5%;
    float: right;
    margin-top: -40px;
    margin-right: 20px;
}

/* Footer */
footer {
    position: fixed;
    bottom: 0;
    padding: 2px;
    width: 100vw;
    text-align: center;
}

footer p {
    margin: 0;
    font-size: 15px;
}

/* Button */
.button {
    position: sticky;
    top: 70px;
    z-index: 2;
    text-decoration: none;
    margin-top: 25px;
    margin-left: 85%;
    font-size: 25px;
    background-color: rgb(121, 185, 211);
    color: whitesmoke;
    border-radius: 10px;
    padding: 5px;
}

.button:hover {
    background-color: whitesmoke;
    color: rgb(121, 185, 211);
}
